@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Nunito:400,400i|Open+Sans:300");
@import url("icons.css");
@import url("mobile.css");
@media only screen and (min-width: 860px) {
  .aditional-text {
    display: inline-block;
  }
  .social > div {
    display: flex;
  }
  nav.social ul li {
    flex-grow: initial;
    flex-basis: initial;
  }
  .flex.row-lg {
    flex-direction: row;
  }
  .flex.column-lg {
    flex-direction: column;
  }
  .nav.navbar > ul > li {
    text-align: center;
  }
  .hide-lg {
    display: none;
  }
  .hide-sm {
    display: initial;
  }
}
